  .footer {
      flex-shrink: 0;
      height: 164px;
      background-color: #000;
    }

    .footer__icons {
      display: flex;
      justify-content: center;
      padding: 30px 0;
    }

.footer__icons-item {
  margin: 0 25px;
  width: 39px;
  height: 39px;
}

.footer__text {
  font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #fff;
text-align: center;
position: relative;
top: 10px;
}