.links {
  background-color: #f8efef;
  min-height: 140px;
}

.container__links-media {
  display: flex;
}

.links-text {
  font-family: "Open Sans", "sans-serif";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-top: 15px;
}

.links-suptext {
  width: 470px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 30px;
}

.links__icons {
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  left: 50px;
}
